@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-transform: none;
}

.login-reg-container {
  padding-top: 10vh;
}

.main-window {
  position: fixed;
  width: 100%;
  height: 93vh;
  transition: 650ms;
  overflow: scroll;
  margin-right: 0;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: -1;
}

.ls-options-main {
  margin-left: 11rem;
  transition: 650ms;
}

.ls-options-main-lg {
  margin-left: 15rem;
  transition: 650ms;
}

.ls-options-text {
  text-align: center;
}

.ls-option-panels {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ls-option-card-header {
  width: 100%;
}
.dashboard {
  margin-top: 5vh;
  margin-left: 15rem;
  transition: 650ms;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.dashboard.lg {
  margin-left: 10rem;
  transition: 650ms;
}

.main-card {
  max-width: 50rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 20px;
  height: 50vh;
  border: 0;
}

.main-panel-text {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.main-panel-text span {
  display: block;
  font-size: 19px;
}

.quiz-answers {
  height: 12vh;
  border: 2px solid cornflowerblue;
  cursor: pointer;
  margin: auto;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
}

.quiz-answers.selected {
  background-color: cornflowerblue;
  color: white;
}

#ans-bg-correct {
  background-color: rgba(16, 209, 13);
  color: white;
}

#ans-bg-incorrect {
  background-color: rgba(232, 26, 60);
  color: white;
}

.quiz-answers span {
  display: block;
  font-size: 16px;
}

.main-panel-hr {
  margin-top: 0;
  margin-bottom: 2rem;
}

.main-panel-header {
  text-transform: none;
  height: 30vh;
  padding-bottom: 1vh;
  font-size: 60px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(253, 148, 62);
  color: white;
  padding-top: 8vh;
}

.main-card-btn {
  width: 25%;
  border-radius: 20px;
  margin-top: -4vh;
}

.bottom-row {
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-panel-btn {
  width: 12rem;
  border-radius: 20px;
  color: azure;
}

.panel-btn {
  width: 12rem;
  border-radius: 20px;
  background-color: rgb(253, 148, 62);
  color: azure;
}

.bottom-panels {
  border-radius: 20px;
  background-color: white;
  height: 30vh;
  width: 24rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
  border: 0;
}

.dash-left {
  width: 55%;
}

.dash-right {
  margin-top: 13vh;
  margin-right: 15rem;
  justify-content: space-around;
  transition: 650ms;
}

.dash-right.lg {
  padding-left: 2rem;
  transition: 650ms;
}

.dashboard-side-panels {
  margin-bottom: 5vh;
  border-radius: 20px;
  height: 20vh;
  background-color: white;
  transition: 650ms;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
  border: 0;
}

.questionnaire-q {
  margin-top: 0;
  margin-bottom: -1rem;
  font-size: 15px;
  font-weight: 600;
}

.page-link.current {
  background-color: gray;
}

.learning {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}

.ed-content {
  padding-left: 16rem;
  transition: 650ms;
  width: 53vw;
  height: 92vh;
  overflow: auto;
  max-width: 50rem;
  padding-right: 1rem;
  background-color: white;
}

.ed-content.lg {
  padding-left: 6rem;
  transition: 650ms;
}

.interpreter-div {
  width: 46%;
  height: 92vh;
  transition: 650ms;
}

.interpreter-div.lg {
  transition: 650ms;
}

.interpreter {
  width: 100%;
  height: 92vh;
  transition: 650ms;
}

.d-chart {
  width: 20vw;
  height: 20vh;
}

.ls-res-content {
  display: flex;
}

.charts-all {
  width: 80%;
}

.modal-pie-charts {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 7vh;
  margin-left: 5rem;
  justify-content: space-around;
}

.ls-modal-submit {
  position: absolute;
  top: 50%;
}

.ls-options {
  max-width: 20rem;
}

.side-panels-img {
  height: 15vh;
  padding-top: 0vh;
  padding-bottom: 4vh;
}

/* .start-learning {
  /* margin-top: 20vh;
  margin-left: 5rem;
  max-width: 20rem; 
}
*/

.start-learning-hide {
  display: none;
}

.show-up {
  font-size: large;
}

.no-show {
  display: none;
}

.learning-content-body {
  padding-bottom: 10vh;
}

.portal-interpreter {
  width: 100%;
  height: 45vh;
}

.act-ref-img {
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  height: 30vh;
  border-radius: 10%;
  box-shadow: 4px 4px 4px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.act-ref-img.sml {
  height: 20vh;
}

.ref-img {
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  height: 15vh;
  border-radius: 10%;
  box-shadow: 4px 4px 4px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.ref-img.sml {
  height: 20vh;
}

.visual-images {
  display: flex;
}

.if-code {
  height: 20vh;
  border-radius: 25px;
  margin-bottom: 5vh;
}

.if-else-code {
  height: 25vh;
  margin-left: 2rem;
  margin-bottom: 3vh;
  border-radius: 25px;
}

.if-else-code {
  height: 25vh;
  margin-left: 0rem;
  margin-right: 2rem;
  margin-bottom: 3vh;
  border-radius: 25px;
}

.vis-img {
  height: 25vh;
}

.vis-img.lg {
  height: 50vh;
  margin-top: -4vh;
}

.verbal-images {
  display: block;
}

.ver-img {
  margin-left: 2rem;
  margin-right: auto;
  height: 10vh;
  border-radius: 10%;
  box-shadow: 4px 4px 4px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.syntax-img {
  margin-left: 2rem;
  margin-right: auto;
  height: 26vh;
  margin-bottom: 5vh;
}

.indent {
  margin-left: 2rem;
  margin-top: -1rem;
}

.q-indent {
  margin-left: 2rem;
}

.else {
  margin-top: -1rem;
}

.final-q {
  height: 35vh;
  margin-left: 25rem;
}

.instructions-img {
  margin-left: auto;
  margin-right: auto;
  height: 42vh;
  margin-top: 1vh;
}

.start-lesson-card {
  margin-top: 2vh;
  margin-left: 6rem;
  margin-right: auto;
  width: 15vw;
}

.learning-pag-footer {
  position: fixed;
  /* left: 0; */
  margin-left: -6rem;
  bottom: 0;
  width: 53vw;
  /* background-color: rgba(238, 238, 238, 0.1); */
  color: white;
  text-align: center;
}

.learning-nav-link {
  background-color: rgb(255 255 255 / 50%);
  font-size: 36px;
}

.l-pag-icons {
  justify-content: center;
}

.pie-slider {
  display: block;
}

#customRange {
  width: 45%;
  padding-left: 10%;
}

.slider-whole {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-left: 7rem;
  margin-top: 2vh;
}

.leftlabel,
.rightlabel {
  font-size: 13px;
  text-align: center;
}

.header-arrow {
  display: flex;
}

.back-arrow {
  margin-top: 2.5vh;
  margin-right: 2rem;
  cursor: pointer;
  /* color: white; */
  font-size: 30px;
  color: #1f9bcf;
}

.back-arrow:hover {
  color: #062f41;
}

.questionnaire-hr {
  margin-top: 0;
}

/* .list-group-item {
  height: 10vh;
} */
.module-choice {
  cursor: no-drop;
  background-color: lightgray;
  height: 10vh;
}

.module-choice-clickable {
  cursor: pointer;
  height: 10vh;
}

.module-choice-clickable:hover {
  background-color: #1f9bcf;
  color: white;
}

.compeleted-icon {
  font-size: 25px;
  color: green;
}

.module-choice-clickable:hover .compeleted-icon {
  color: white;
}
