/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home {
  height: 110vh;
  align-items: center;
  font-size: 3rem;
  background: #eff5f5;
}

.home .main-tile {
  position: absolute;
  color: #ffffff;
  padding-left: 2vw;
  top: 15vh;
  width: 50vw;
  margin-left: 15vw;
  padding-top: 5vh;
  background-color: #ff9900;
  height: 30vh;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 25px;
}

.home .main-tile h5 {
  padding-top: 4vh;
}

.home .learning-tile {
  position: absolute;
  color: black;
  padding-left: 1vw;
  top: 50vh;
  width: 22vw;
  margin-left: 15vw;
  padding-top: 3vh;
  background-color: #ffffff;
  height: 40vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
}

.home .learning-tile p {
  font-size: 20px;
  padding-top: 2vh;
}

.home .learning-tile .pic-title {
  display: flex;
}

.home .learning-tile .pic-title h6 {
  padding-top: 8vh;
  margin-left: 2vw;
}

.home .learning-tile .pic-title .pen-paper {
  height: 20vh;
  padding-top: 2vh;
}

.home .stats-tile {
  position: absolute;
  color: black;
  padding-left: 1vw;
  top: 50vh;
  width: 22vw;
  margin-left: 43vw;
  padding-top: 3vh;
  background-color: #ffffff;
  height: 40vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
}

.home .stats-tile p {
  font-size: 20px;
  padding-top: 2vh;
}

.home .stats-tile .pic-title {
  display: flex;
}

.home .stats-tile .pic-title h6 {
  padding-top: 8vh;
  margin-left: 2vw;
}

.home .stats-tile .pic-title .barchart {
  height: 20vh;
  padding-top: 2vh;
}

.home .user-greeting {
  position: absolute;
  color: black;
  top: 12vh;
  padding-left: 1vw;
  width: 22vw;
  margin-left: 73vw;
  padding-top: 5vh;
  height: 2vh;
}

.home .code-tile {
  display: flex;
  position: absolute;
  color: black;
  padding-left: 1vw;
  top: 25vh;
  width: 22vw;
  margin-left: 73vw;
  padding-top: 5vh;
  background-color: #ffffff;
  height: 20vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
}

.home .code-tile .pencil .pencil-img {
  height: 15vh;
  padding-top: 0vh;
  padding-bottom: 4vh;
}

.home .code-tile .code-tile-text {
  padding-left: 1vw;
}

.home .code-tile .code-tile-text p {
  padding-top: 1vh;
  font-size: medium;
}

.home .challenge-tile {
  display: flex;
  position: absolute;
  color: black;
  padding-left: 1vw;
  top: 48vh;
  width: 22vw;
  margin-left: 73vw;
  padding-top: 5vh;
  background-color: #ffffff;
  height: 20vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
}

.home .challenge-tile .calendar .calendar-img {
  height: 15vh;
  padding-top: 0vh;
  padding-bottom: 4vh;
}

.home .challenge-tile .challenge-tile-text {
  padding-left: 1vw;
}

.home .challenge-tile .challenge-tile-text p {
  padding-top: 1vh;
  font-size: medium;
}

.home .level-tile {
  display: flex;
  position: absolute;
  color: black;
  padding-left: 1vw;
  top: 70vh;
  width: 22vw;
  margin-left: 73vw;
  padding-top: 5vh;
  background-color: #ffffff;
  height: 20vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
}

.home .level-tile .trophy .trophy-img {
  height: 15vh;
  padding-top: 0vh;
  padding-bottom: 4vh;
}

.home .level-tile .level-tile-text {
  padding-left: 1vw;
}

.home .level-tile .level-tile-text p {
  padding-top: 1vh;
  font-size: medium;
}

.learning,
.explore {
  display: flex;
}

.learning .edcontent {
  width: 35vw;
  height: 92vh;
  margin-right: 2vw;
}

.learning .edcontent h3 {
  padding-top: 2vh;
  font-size: 50px;
  padding-left: 2vw;
}
.learning .edcontent p {
  padding-top: 3vh;
  font-size: 20px;
  padding-left: 2vw;
}
.learning .edcontent .strings {
  padding-top: 4vh;
  padding-left: 2vw;
}

.interpreter {
  width: 65vw;
  height: 92vh;
} */
